<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5436/gele_main?currentSchema=taco_step4</property>
        <property name="connection.username">gele_usr</property>
        <property name="connection.password">gele_usr</property>
        <property name="show_sql">false</property>
        <property name="hbm2ddl.auto">none</property>

        <mapping class="tacos.Student"></mapping>
    </session-factory>
</hibernate-configuration>